<mat-toolbar color="primary" class="expanded-toolbar">
  <span>
    Consulta de Indicador do Banco Mundial
  </span>

</mat-toolbar>


<div class="main-wrapper" fxLayout="row" fxLayoutAlign="center center">

  <div class="example-container" fxLayoutAlign="center center" style="text-align:center">
    <mat-form-field appearance="fill">
      <mat-label>Digite o código do País</mat-label>
      <input matInput placeholder="BR" [formControl]="codigoPais" required>
      <mat-error *ngIf="codigoPais.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>

    <div style="text-align:center">
      <button mat-raised-button color="primary" [disabled]="(codigoPais.invalid || loading)" (click)="pesquisar()">Pesquisar
        <mat-icon><mat-spinner *ngIf="loading === true" color="accent" diameter="20"></mat-spinner></mat-icon>
      </button>
    </div>
    <div id="table">
      <div id="table-container">
        <table mat-table [dataSource]="dataSource" *ngIf="indicadores?.length > 0">
          <ng-container matColumnDef="date">
            <th style="text-align:center" mat-header-cell *matHeaderCellDef> DATA </th>
            <td mat-cell *matCellDef="let element"> {{element.date}} </td>
          </ng-container>

          <ng-container matColumnDef="value">
            <th style="text-align:center" mat-header-cell *matHeaderCellDef> INDICADOR </th>
            <td  mat-cell *matCellDef="let element"> {{element.value}} </td>
          </ng-container>

          <ng-container matColumnDef="countryiso3code">
            <th style="text-align:center" mat-header-cell *matHeaderCellDef> PAIS </th>
            <td mat-cell *matCellDef="let element"> {{element.countryiso3code}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
    </div>
  </div>
</div>
